# Python 临时文件
__pycache__/
*.py[cod]
*$py.class

# 虚拟环境
.venv/
venv/
ENV/

# Minecraft 服务器生成文件 (排除所有测试和正式服务器目录)
# 只要文件夹名不属于核心代码库，就排除
/*/
!core/
!tests/
!tools/

# 排除所有 jar 包 (因为它们可以通过脚本自动下载)
*.jar

# 排除 macOS 系统文件
.DS_Store

# 排除本地测试日志
reference.txt
